.my-bg-color{
    background-color: tomato; 
    height: 100vh;
} 

.my-bg-color-white{
    background-color: whitesmoke;
}

.my-border{
    border: 1px solid yellow;

} 

.my-size{
    height: 150px;
}